<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pagination ({{nachrichtenArray.length}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content>

    <ion-list>
      <ion-item *ngFor="let nachricht of nachrichtenArray; let index">
        <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
        </ion-avatar>
        <ion-label>{{ nachricht }}</ion-label>
      </ion-item>
      <ion-item>
          <ion-button 
                (click)="onWeitereNachrichtenButton()" 
                [disabled]="ladespinnerAnzeigen"  >Weitere Nachrichten laden ...</ion-button>
          <ion-spinner *ngIf="ladespinnerAnzeigen"></ion-spinner>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-content>
