<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Infinite Doom ({{nachrichtenArray.length}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content>

    <ion-list>
      <ion-item *ngFor="let nachricht of nachrichtenArray; let index">
        <ion-avatar slot="start">
          <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
        </ion-avatar>
        <ion-label>{{ nachricht }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" threshold="5%">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-content>

</ion-content>
